body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

h1 {
    margin-top: 40px;
}

button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
}

.card {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.progress {
    width: 100%;
    background: #ddd;
    height: 25px;
    border-radius: 15px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: red;
}
